<turbo-frame id="video-{{ video.uuid }}">
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="video.thumbnail_url">
            </a>
        </div>
        <div class="media-boy">
            <label class="media-heading">{{ video.title }}</label>
        </div>
        <div class="media-right">
            <div class="btn-group" role="group">
                <form method="POST" action="{{ url_for('force-play', id=video.uuid) }}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </form>
                <form method="POST" action="{{ url_for('delete', id=video.uuid) }}">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        </div>
    </li>
</turbo-frame>